{% extends 'layouts/admin-layout.html' %} {% block content %}
<div class="flex flex-col gap-3">
	<form class="bg-white p-2 grid grid-cols-6 gap-2" method="POST" action="/change-video-url">
		<div class="col-span-3">
			<label for="video_url" class="form-label">URL de la cámara de video</label>
			<input type="text" name="video_url" id="video_url" class="form-control" value="{{ video_url }}" required />
		</div>
		<div class="col-span-1 flex items-end">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</form>
	<h2 class="text-xl font-bold flex items-center gap-2">
		<i class="fa-solid fa-calendar-check"></i>
		Registro de Asistencia
	</h2>
	<div class="bg-white rounded-lg shadow p-4">
		{% if attendances %}
		<table class="table w-full">
			<thead>
				<tr>
					<th class="px-4 py-2">Curso</th>
					<th class="px-4 py-2">Docente</th>
					<th class="px-4 py-2">Fecha</th>
					<th class="px-4 py-2">Hora</th>
					<th class="px-4 py-2">Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for record in attendances %}
				<tr>
					<td>{{ record.course.name }}</td>
					<td>{{ record.course.teacher.name if record.course.teacher else 'No asignado' }}</td>
					<td>{{ record.register_date.strftime('%d/%m/%Y') }}</td>
					<td>{{ record.register_date.strftime('%H:%M') }}</td>
					<td>
						{% if record.type == 'Ingreso' %}
						<span class="text-green-600">Ingreso</span>
						{% elif record.type == 'Salida' %}
						<span class="text-red-600">Salida</span>
						{% else %}
						<span class="text-gray-600">Desconocido</span>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p class="text-gray-500">No hay registros de asistencia.</p>
		{% endif %}
	</div>
</div>
{% endblock %}