{% extends 'layouts/admin-layout.html' %} {% block content %}
<div class="flex flex-col gap-3">
	<h2 class="text-xl font-bold flex items-center gap-2">
		<i class="fa-solid fa-book-open"></i>
		Cursos
	</h2>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
		{% for course in courses %}
		<div class="bg-white rounded-lg shadow p-4">
			<h3 class="text-lg font-semibold text-blue-800">{{ course.name }}</h3>
			<p class="text-gray-600">Estudianttes: {{ course.enrollments|length }}</p>
			<!-- horario -->
			<h3 class="text-gray-600">Horario:</h3>
			<ul class="list-disc pl-5 mt-2">
				{% for itm in course.schedules %}
				<li>
					{% if itm.day_name == 'Monday' %} Lunes
					{% elif itm.day_name == 'Tuesday' %} Martes
					{% elif itm.day_name == 'Wednesday' %} Miércoles
					{% elif itm.day_name == 'Thursday' %} Jueves
					{% elif itm.day_name == 'Friday' %} Viernes
					{% elif itm.day_name == 'Saturday' %} Sábado
					{% elif itm.day_name == 'Sunday' %} Domingo
					{% endif %}
					: {{ itm.begin_time }} - {{ itm.end_time }}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		<p class="text-gray-500">No tienes cursos matriculados.</p>
		{% endfor %}
	</div>
	<div class="bg-white p-3 rounded" x-data="attendance">
		<h3 class="text-lg font-semibold mb-2">Registrar Asistencia</h3>
		<p class="text-gray-600 mb-2">Selecciona un curso y el tipo de asistencia:</p>
		<div class="flex gap-4 mb-4">
			<select name="course_id" class="form-control flex-1" x-model="courseId">
				<option value="" class="hidden" selected>Selecciona un curso</option>
				{% for course in courses %}
				<option value="{{ course.id }}">{{ course.name }}</option>
				{% endfor %}
			</select>
			<select name="type" class="form-control flex-1" x-model="type">
				<option value="Ingreso">Ingreso</option>
				<option value="Salida">Salida</option>
			</select>
			<button type="button" class="btn btn-primary" @click="registerAttendance()" x-bind:disabled="loading">
				<i class="fa-solid" x-bind:class="loading ? 'fa-spinner fa-spin' : 'fa-check'"></i>
				Registrar
			</button>
		</div>
	</div>
	<h2 class="text-xl font-bold flex items-center gap-2">
		<i class="fa-solid fa-calendar-check"></i>
		Registro de Asistencia
	</h2>
	<div class="bg-white rounded-lg shadow p-4">
		{% if attendances %}
		<table class="table w-full">
			<thead>
				<tr>
					<th>Curso</th>
					<th>Estudiante</th>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for record in attendances %}
				<tr>
					<td>{{ record.course.name }}</td>
					<td>{{ record.user.name }}</td>
					<td>{{ record.register_date.strftime('%d/%m/%Y') }}</td>
					<td>{{ record.register_date.strftime('%H:%M') }}</td>
					<td>
						{% if record.type == 'Ingreso' %}
						<span class="text-green-600">Ingreso</span>
						{% elif record.type == 'Salida' %}
						<span class="text-red-600">Salida</span>
						{% else %}
						<span class="text-gray-600">Desconocido</span>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p class="text-gray-500">No hay registros de asistencia.</p>
		{% endif %}
	</div>
</div>
<script>
	document.addEventListener('alpine:init', () => {
    Alpine.data('attendance', () => ({
		courseId: null,
		type: 'Ingreso',
		loading: false,
		registerAttendance() {
			if (!this.courseId) {
				toastr.error('Por favor, selecciona un curso.');
				return;
			}

			const url = `/attendance/take/${this.courseId}`;
			this.loading = true;
			fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ state: this.type })
			}).then(async res => {
				this.loading = false;
				if (res.ok) {
					return {
						fileName: res.headers.get('Content-Disposition').split('filename=')[1],
						blob: res.blob()
					};
				} else {
					const resp = await res.json();
					if (resp.error) {
						throw new Error(resp.error);
					} else {
						throw new Error('Error al registrar asistencia.');
					}
				}
			}).then(({ fileName, blob }) => {
				const url = window.URL.createObjectURL(blob);
				const a = document.createElement('a');
				a.href = url;
				a.download = fileName;
				document.body.appendChild(a);
				a.click();
				a.remove();
				toastr.success('Asistencia registrada y descargada exitosamente.');
			}).catch(error => {
				toastr.error(error.message || 'Error al registrar asistencia.');
			})
		}
		}))
	})
</script>
{% endblock %}