{% extends 'layout.html' %} {% block content %}
<h2>Dashboard de Docente</h2>
<p>Estos son los cursos que te han sido asignados:</p>
<ul class="list-group">
  {% for course in courses %}
  <li class="list-group-item">
    {{ course[1] }}
    <!-- Se puede agregar un botón para registrar asistencia -->
    <form action="/docente/reconocimiento" method="POST" class="d-inline">
      <input type="hidden" name="course_id" value="{{ course[0] }}" />
      <select name="attendance_type" class="form-select d-inline w-auto">
        <option value="Ingreso">Ingreso</option>
        <option value="Salida">Salida</option>
      </select>
      <button type="submit" class="btn btn-success">
        Registrar Asistencia
      </button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
